body{margin:0 ;}
.image1{float: left; width: 650px; height: 602px;}
.image2{width: 70px; height: 70px; padding-left: 490px; padding-top: 20px;}
div{background-color: rgb(188, 226, 226); height: 602px;}
p{padding-left: 670px;padding-right: 20px;padding-top: 40px; color:rgb(90, 83, 83)}
h1{padding-left: 670px;padding-top: 20px; color:rgb(90, 83, 83)}